/*------------------------------LIFTFIT BODY SECTION------------------------------*/
.liftFit-title {
	display: flex;
}

.liftFit-title h2 {
	width: 50%;
	font-size: 6rem;
	margin-bottom: 0.75rem;
	padding-top: 1rem;
}

.liftFit-video {
	margin: auto;
	width: 50%;
}

.liftFit-details p {
	font-family: 'Roboto', sans-serif;

}

.liftFit-content h5 {
	margin-bottom: -10px;
	font-size: 1.25rem;
	font-weight: medium;
}

.liftFit-content p {
	font-size: 1rem;
	line-height: 1.5rem;
	font-family: 'Roboto', sans-serif;
}

.liftFit-overview a:hover {
	opacity: 50%;
}

.liftFit-first-stage img {
	width: 100%;
}

.liftFit-second-stage img {
	width: 100%;
}

figcaption {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
	font-style: italic;

}

/*--------------------------END OF LIFTFIT BODY SECTION------------------------------*/


/*------------------------------MEDIA SECTION------------------------------*/

@media only screen and (max-width:800px) {
	/* For mobile phones: */
	.liftFit-title h2 {
		font-size: 4.5rem;
		margin-bottom: 0.75rem;
	}

	.flex-container {
		display: block;
	}

	.liftFit-content {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.center {
		width: 80%;
	}

}

/*------------------------------END OF MEDIA SECTION------------------------------*/