a {
	font-family: Roboto, sans-serif;
}

h4 {
	padding-top: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
}

a:hover {
	opacity: 0.5;
}


/*------------------------------PROJECT BODY SECTION------------------------------*/
.project-title {
	padding-top: 50px;
}

.sidenav {
	width: 200px;
	position: fixed;
	top: 350px;
	left: 40px;
	padding: 8px 0;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	display: block;

	background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 50%, #ffd400 50%);
	background-position: -0% 0;
	background-size: 200% auto;
	color: black;
	/*text-decoration: none;*/
	transition: background-position 0.5s ease-out;
}

.sidenav a:hover {
	background-position: -99.99% 0;
	opacity: 100%;
}

.highlight {
	background-image:#ffd400 100%;
	/*background-position: -0% 0;*/
	/*background-size: 200% auto;*/
}


.project-initial-idea img {
	width: 100%;
}

.project-initial-idea a:hover {
	opacity: 50%;
}

.project-first-stage img {
	width: 100%;
}

.project-second-stage img {
	width: 100%;
}

.project-third-stage img {
	width: 100%;
}

.project-content .bold {
	/*font-weight: bold;*/
}

.project-content .strikethrough {
	text-decoration: line-through;
}



.indent {
	padding-left: 50px;
	padding-bottom: 1em;
}


.inline h5, .inline p{
	display: inline;
	vertical-align: baseline;
}

.image-spacing {
	padding: 1em;
}


.width-80 {
	margin: auto;
	width: 80%;
}

mark {
	background-color: #FF6600;
}

figcaption {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5rem;
	font-style: italic;

}


/*--------------------------BLOCK QUOTE SECTION------------------------------*/

blockquote {
    margin: 0;
}

blockquote p {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

blockquote p::before {
    content: '\201C';
}

blockquote p::after {
    content: '\201D';
}

blockquote figcaption {
	text-align: right;
}
/*--------------------------END OF BLOCK QUOTE SECTION------------------------------*/




/*--------------------------END OF PROJECT BODY SECTION------------------------------*/



/*------------------------------MEDIA SECTION------------------------------*/

@media only screen and (max-width:800px) {
	/* For mobile phones: */
	.project-title h1 {
		margin-bottom: 0.75rem;
	}

	.flex-container {
		display: block;
	}

	.project-content {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.center {
		width: 85%;
	}

	.sidenav {
		visibility: hidden;
	}

}

/*------------------------------END OF MEDIA SECTION------------------------------*/